# Simulation outputs
out/*
_rslurm*

# System compilation outputs
*.o
*.so
exe/hymodelc
exe/hycs_std

# R history and environment
.RData
.Rapp.history
.Rhistory
.Rproj.user
*.Rproj

# MacOS folder attributes
.DS_Store

# Test inputs
stilt-tutorials
*.bak