# Simulation outputs
out/*
_rslurm*

# System compilation outputs
fortran/*
*.bak
*.a
*.o
*.so
exe/hymodelc

# R history and environment
.RData
.Rapp.history
.Rhistory
.Rproj.user
*.Rproj

# MacOS folder attributes
.DS_Store
